@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/typography.css");

@import url("./layout/header.css");
@import url("./layout/footer.css");
@import url("./layout/sections.css");

@import url("./components/hero.css");
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/projects.css");
@import url("./components/experience.css");
@import url("./components/contact.css");
@import url("./components/animations.css");
@import url("./components/modal.css");
@import url("./components/skills.css");