/* =====================================================
   HEADER / NAVIGATION
===================================================== */
.header {
    position: sticky;
    top: 0;
    background: var(--white);
    padding: 0;
    /* border-bottom: 1px solid #e5e7eb; */
    z-index: 1000;
    backdrop-filter: blur(8px);
}

body.dark .header {
    background: rgba(17, 24, 39, 0.9);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
}

.logo a {
    text-decoration: none;
    color: var(--text-dark);
}

.logo a:hover {
    color: var(--primary-color);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

/* NAV LINK PREMIUM STYLE */
.nav-links a {
    position: relative;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 0.95rem;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s cubic-bezier(.22,1,.36,1);
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links a.active::after {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    height: 68px;
    width: auto;
    display: block;
}

.logo a {
    color: var(--text-dark);
}

body.dark .logo a {
    color: #60a5fa;
}

.logo svg {
    transition: fill 0.4s ease, transform 0.3s ease;
}

.logo a:hover svg {
    transform: translateY(-2px);
}

body.dark stop:first-child {
    stop-color: #60a5fa;
}

body.dark stop:last-child {
    stop-color: #c084fc;
}

/* ============================
   Mobile Navigation
============================ */

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Tablet & below */
@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--white);
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        width: 220px;
        display: none;
        box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    }

    body.dark .nav-links {
        background: #1f2937;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}