/* =====================================================
   SCROLL ANIMATIONS
===================================================== */
.hidden {
    opacity: 0;
    transform: translateY(40px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}

.slide-in {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.slide-out {
    transform: translateY(-100%) scale(0.95);
    opacity: 0;
}