/* Modal of project details */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--white);
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: var(--border-radius);
    position: relative;
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

body.dark .modal-content {
    background: #1e293b;
}